[submodule "old_website"]
	path = old_website
	url = https://github.com/JBoss925/JBoss925.github.io
[submodule "jaggerscript"]
	path = jaggerscript
	url = https://github.com/JBoss925/JaggerScript
[submodule "genetic_ts"]
	path = genetic_ts
	url = https://github.com/JBoss925/GeneticTS
